@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  main {
    @apply flex-1 flex flex-col items-center justify-center bg-gray-50 dark:bg-black transition-colors duration-200;
  }
  h1 {
    @apply text-4xl font-bold text-gray-900 dark:text-white mb-4;
  }
  h2 {
    @apply text-2xl  font-bold text-gray-900 dark:text-white mb-4;
  }
  p {
    @apply text-xl text-gray-600 dark:text-gray-300 mb-2;
  }
  span {
    @apply text-gray-800 dark:text-gray-500;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
